#main {
	width: 1500px;
	height: 1000px;
	background-image: url(vdc_3rd_floor.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

button {
	margin-top: 20px;
	line-height: 60px;
	font-weight: bold;
	padding: 0 48px;
	background: salmon;
	border: none;
}

button:hover {
	background: lightsalmon;
}

.circle {
	width: 20px;
	height: 20px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	background: green;
	position: absolute;
}