#main {
	background-image: url(vdc_3rd_floor.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	height: 75%;
    max-height: 100%;
    overflow: auto;
    width:100%;
    
}

button {
	margin-top: 20px;
	line-height: 60px;
	font-weight: bold;
	padding: 0 48px;
	background: salmon;
	border: none;
}

button:hover {
	background: lightsalmon;
}

.circle {
	width: 20px;
	height: 20px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	background: green;
	position: absolute;
}

html{
    overflow:hidden;
    height: 100%;
    max-height: 100%;
}
body {
    height: 100%;
    max-height: 100%;
    width: 100%;
}